body{
    font-family: "inter";
    margin: 0;
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-size: 14px;
    width: 100%;
    height: 100vh;
}

main{
    display: inline-block;
    width: 100%;
}
article{
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
    max-width: 19rem;
    padding: 1rem;
    margin: 5rem auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.introduction{  
    text-align: center;
}
.introduction img{
    border-radius: 50%;
    display: block;
    width: 5rem;
    margin: 1em auto 1.5rem;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.introduction h1{
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: 1.5em;
}
.introduction h2{
    margin: 0 0;
    font-size: 1em;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}
.introduction p{
    margin: 1.5rem 0;
    font-weight: 1em;
    font-weight: 300;
}
.social{
    text-align: center;
}
.links{
    padding: 0;
}
.links li{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    margin: 1em;
    height: 3em;
    transition: 0.2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.links li:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    background-color: hsl(0, 0%, 15%);
    outline: 1px solid hsl(75, 94%, 57%);
}
.links li a{
    /* padding: 5% 0; */
    display: inline-block;
    font-weight: 600;
    width: 100%;
    color: white;
    text-decoration: none;
}





.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }